/*Removing broswer default margin and paddings*/
*{
    margin: 0;
    padding: 0;
}

/*---------------------------------------------*/
/* Styling for the main BODY tag*/
/*---------------------------------------------*/

body{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/images/teapot-img.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
}


h1{
    font-family: 'Inknut Antiqua', serif;
    font-size: 450%;
    font-weight: 400;
    color: #f24b0f;
    margin-left: -40px;
}

h3{
    margin: 10px;
    margin-left: -18px;
    margin-top: -40px;
    font-size: 100%;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 2px;
}

#header-text{
    position: absolute;
    top: 35%;
    left: 66%;
}

.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 200px;
    padding: 8px;
    margin: 8px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 0.4s, color 0.4s;
}

.btn-primary{
    background-color: #009432;
    color: white;
}

.btn-primary:hover{
    background-color: #00521c;
}

.btn-secondary{
    color: #009432;
}

.btn-secondary:hover{
    background-color: #009432;
    color: white;
}

.row{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.2));
    background-image: transparent;
    height: 130px;
}

.tea-logo{
    height: 120px;
    width: auto;
    margin-top: 10px;
    float: left;
}

.tea-text{
    height: 200px;
    width: auto;
    float: left;
    margin-top: -30px;
    margin-left: -40px;
}

.nav-list{
    list-style: none;
    float: right;
}

.nav-list li{
    display: inline-block;
    margin: 25px;
    margin-top: 85px;
    letter-spacing: 5px;
    font-size: 16px;
}

.nav-list li a{
    text-decoration: none;
    font-weight: 300;
    font-size: 100%;
    color: white;
    padding:8px 0;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-list li a:hover{
    border-bottom: 3px solid #009432;
}


.section-1{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.row-1{
    width: 1100px;
    height: 30%;
    margin: 0px auto;
    padding-top: 80px;
}

.row-2{
    width: 1100px;
    height: 60%;
    margin: 0px auto;
}

.intro-text{
    color: black;
    width: 70%;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
    font-size: 100%;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 2px;
    justify-content: center;
}

#shop-name{
    color: #f24b0f;
    font-weight: 900;
}

.section-cards{
    display: inline-block;
    width: 30%;
    border: 2px solid transparent;
    height: 80%;
    margin: 15px;
   /* box-shadow: 3px 3px 8px 2px #f75e27d3;*/
}

.section-cards img{
    height: 130px;
    width: auto;
    margin: 0px 80px 0px 80px;
}

.section-cards p{
    display: inline-block;
    text-align: justify;
    color: rgb(110, 110, 110);
    font-size: 90%;
    font-weight: 400;
    padding: 10px;
}

.section-cards h4{
    text-align: center;
    margin: 2px;
    padding: 15px;
    color: #f24b0f;
    font-weight: 400;
    font-size: 90%;
}

h2{
    font-size: 200%;
    text-transform: uppercase;
    color: #555;
    font-weight: 300;
    letter-spacing: 2px;
}

h2:after{
    display: block;
    height: 1px;
    width: 400px;
    background-color: #f24b0f;
    content: "";
    margin: 0 auto;
    margin-top: 30px;

}

.row-3{
    width: 100%;
}

.section-meals{
    width: 100%;
    
}

.list-meals{
    list-style: none;
    width: 100%;
    
}

.list-meals li{
    overflow: hidden;
    display: block;
    float: left;
    width: 25%;
    background-color: black;
}

.img-meals{
    
    width: 100%;
    height: 250px;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
    
}

.clearfix:after{
    display: block;
    content: "";
    clear: both;
    height: zero;
}

.img-meals:hover{
    transform: scale(1);
    opacity: 1;
}

.section-delivery{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255)(133, 43, 43);
}

.section-delivery h2{
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.img-phone-div{
    display: inline-block;
    width: 50%;
    height: auto;
    background-color:transparent;
}

.delivery-steps-div{
    width: 50%;
    float: right;
    padding-top: 10px; 
    background-color: transparent;
    color: #555;
}

.steps-marking{
    display: inline;
    color: #f24b0f;
    border: 1px solid #f24b0f;
    border-radius: 50%;
}

.img-phone-div img{
    width: 250px;
    float: right;
    margin: 40px;
    padding-right: 40px;
}

.delivery-steps{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.img-delivery{
    width: 400px;
    padding-bottom: 10px;
    padding-left: 15%;
}

.steps-numbering{
    color: #f24b0f;
    border: 1px solid #f24b0f;
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 10px;
    font-size: 150%;
    font-weight: 300;
    margin-right: 12px;
}

.delivery-steps p{
    display: inline;
    font-size: 100%;
    color: #555;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: 1px;
}

.app-img{
    height: 60px;
    width: auto;
    margin: 25px;
    margin-top: 30px;
    margin-left: 30px;
}

.section-cities{
    width: 100%;
    height: 80vh;
    background-color: #F4F4F4;
}

.section-cities h2{
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.city-card-container{
    width: 95%;
    height: 60%;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.city-card{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color:#F4F4F4;
}

.img-city{
    width: 85%;
    height: auto;
    padding-bottom: 15px;
}

.city-name{
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 4px;
    color: black;
}

.city-features{
    width: 100%;
    height: 15%;
    background-color: coral;
    border: 1px solid #555;
}

.align{
    padding: 5px;
    float: left;
}






