/*Removing broswer default margin and paddings*/
*{
    margin: 0;
    padding: 0;
}

/*---------------------------------------------*/
/* Styling for the main BODY tag*/
/*---------------------------------------------*/

body{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/images/teapot-img.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
}


h1{
    font-size: 500%;
    font-weight: 700;
    color: #f24b0f;
    margin-left: -40px;
}

h3{
    margin: 10px;
    margin-left: -28px;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 2px;
}

#header-text{
    position: absolute;
    top: 35%;
    left: 66%;
}

.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 200px;
    padding: 8px;
    margin: 8px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 0.4s, color 0.4s;
}

.btn-primary{
    background-color: #009432;
    color: white;
}

.btn-primary:hover{
    background-color: #00521c;
}

.btn-secondary{
    color: #009432;
}

.btn-secondary:hover{
    background-color: #009432;
    color: white;
}

.row{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.3));
    background-image: transparent;
    height: 130px;
}

.tea-logo{
    height: 100px;
    width: auto;
    margin-top: 10px;
    float: left;
}

.nav-list{
    list-style: none;
    float: right;
}

.nav-list li{
    display: inline-block;
    margin: 25px;
    margin-top: 85px;
    letter-spacing: 5px;
    font-size: 16px;
}

.nav-list li a{
    text-decoration: none;
    font-weight: 300;
    font-size: 130%;
    color: white;
    padding:8px 0;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-list li a:hover{
    border-bottom: 3px solid #009432;
}


.section-1{
    background-color: grey;
    height: 100vh;
}

.row-1{
    width: 1100px;
    background-color:greenyellow;
    margin: 0px auto;
}

.row-2{
    width: 1100px;
    background-color: violet;
    height: 80vh;
    margin: 0px auto;
}

.section-cards{
    display: inline-block;
    width: 32.3%;
    border: 2px solid red;
    height: 70%;
    margin: 2px;
}

h2{
    font-size: 200%;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    letter-spacing: 2px;
}





